body {
  background: green;
}
#header {
  text-align: center;
  text-decoration: underline;
}
#aces{
  width: 300px;
  height: auto;
}
.card{
  width: 100px;
  height: 150px;
}
#dealerCardsContainer {
  text-align: center;
}
#showDealerCards{
  height:200px;
}
#dealerCurrentValue{

}
#playerCardsContainer {
  text-align: center;

}
#showPlayerCards{
  height: 200px;
}
#playerCurrentValue{

}

#playerMoney{

}
#readRules{


}
.buttons{
  padding: 15px 32px;
  background-color: black;
  color:white;
  font-size: 16px;
}
.rules{
  display: none;
}
