#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}
body {
  background-color: green;
}
#namePlayer{
  text-align: center;
  font-family: 'Charm', cursive;
}
#dealer{
  text-align: center;
  height: 150px;
  font-family: 'Charm', cursive;
  font-size: 20px;
}
#dealerCardsContainer {
  text-align: center;
}
#showDealerCards{
  height:100px;
}
#dealerCurrentValue{
  float: right;
  position: relative;
  bottom: 100px;
  font-family: 'Charm', cursive;
}
.card{
  width: inherit;
  height: inherit;
}
#middleSpace {
  height: 300px;
  background-image: url(../images/Blackjack-logo.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
#playerCardsContainer {
  text-align: center;
}
#showPlayerCards{
  height: 100px;
}
#player{
  display: flex;
  width: 964px;
  justify-content: space-around;
  font-family: 'Charm', cursive;
  font-size: 20px;
}
#playerMoney{

}
.buttons{
  padding: 10px 10px;
  background-color: black;
  color:white;
  font-size: 24px;
  font-family: 'Charm', cursive;
}
#rulesText{
  font-size: 16px;
  font-family: 'Charm', cursive;
}
#rulesBox{
  display: none;
  text-align: center;
  background-color: black;
}
#rules{
  position: absolute;
  top: 50px;
}
#playButton{
  position: absolute;
  top: 15%;
  left: 43%;
  width: 200px;
  height: 50px;
  font-size: 25px;
  font-family: 'Charm', cursive;
}
#outcome{
  text-align : center;
  width:  100px;
  background: rgb(255, 0, 0);
  margin:  auto;
  position: relative;
  top: 100px;
  border-radius: 100%;
  font-family: 'Charm', cursive;
}
